# Web framework
fastapi
uvicorn

# Templates & static files
jinja2
aiofiles

# Database
psycopg2-binary

# Environment variables
python-dotenv

# Forms & authentication
python-multipart
bcrypt
itsdangerous
supabase