{% extends "base.html" %}
{% block title %}Employee Dashboard{% endblock %}

{% block content %}

<h1 class="text-3xl font-bold text-[#044635] mb-6">
    {{ branch_name }}
</h1>

<div class="grid md:grid-cols-2 gap-6">

<div class="bg-white rounded-2xl shadow p-6">
    <h2 class="font-bold text-xl mb-4">
        Recent Sales
    </h2>

    <table class="w-full text-sm">
        <tbody>
        {% for s in branch_sales %}
        <tr class="border-b">
            <td>{{ s.sale_id }}</td>
            <td>{{ s.customer }}</td>
            <td>৳{{ s.total_amt }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="bg-white rounded-2xl shadow p-6">

    <h2 class="font-bold text-xl mb-4 text-red-600">
        Low Stock
    </h2>

    {% for item in low_stock %}
    <div class="border-b py-2">
        {{ item.product_name }}
        ({{ item.quantity }})
    </div>
    {% endfor %}

</div>

</div>

{% endblock %}